# ─────────────────────────────────────────────
#  Coordenadas y zona horaria de Madrid
# ─────────────────────────────────────────────
MADRID_LATITUDE=40.4168
MADRID_LONGITUDE=-3.7038
TIMEZONE=Europe/Madrid

# ─────────────────────────────────────────────
#  URLs de las APIs de Open-Meteo
# ─────────────────────────────────────────────
HISTORICAL_WEATHER_URL=https://archive-api.open-meteo.com/v1/archive
AIR_QUALITY_URL=https://air-quality-api.open-meteo.com/v1/air-quality

# ─────────────────────────────────────────────
#  Variables a recuperar de cada API
# ─────────────────────────────────────────────
WEATHER_HOURLY_VARIABLES=temperature_2m,precipitation
AIR_QUALITY_HOURLY_VARIABLES=ozone,carbon_dioxide

# ─────────────────────────────────────────────
#  MinIO — Data Lake
# ─────────────────────────────────────────────
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=madrid-openmeteo-environment
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SECURE=false

# ─────────────────────────────────────────────
#  RabbitMQ — Cola de mensajes
# ─────────────────────────────────────────────
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# ─────────────────────────────────────────────
#  Servicio ETL
# ─────────────────────────────────────────────
ETL_PORT=8000

# ─────────────────────────────────────────────
#  PostgreSQL – Capa analítica (Día 2)
# ─────────────────────────────────────────────
POSTGRES_DB=madrid_env
POSTGRES_USER=madrid
POSTGRES_PASSWORD=madrid

# ─────────────────────────────────────────────
#  Superset
# ─────────────────────────────────────────────
SUPERSET_SECRET_KEY=madrid_superset_secret_change_in_prod
